<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% block title %}
            Events
        {% endblock %}
    </title>
    {% block styles %}

        {% block default_styles %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('public/css/swiper.css') }}">
            <link rel="stylesheet" href="{{ asset('public/css/component.css') }}"/>
            <link rel="stylesheet" href="{{ asset('public/css/site.css') }}"/>
        {% endblock %}

        {% block page_styles %}
        {% endblock %}

    {% endblock %}

    {% block init_scripts %}
        <script src="{{ asset('public/js/modernizr.js') }}"></script>
         {# TODO: use yep nope for feature detection (vw, vh, etc...) #}
        <script src="{{ asset('public/js/rem.js') }}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('public/js/html5shiv.js') }}"></script>
        <script src="{{ asset('public/js/respond.min.js') }}"></script>
        <![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    {% block body %}{% endblock %}


    {% block scripts %}

        {% block default_scripts %}
            <script src="{{ asset('public/js/jquery.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.js') }}"></script>
        {% endblock %}

        {% block page_scripts %}
        {% endblock %}

    {% endblock %}
</body>
</html>
