{% extends '::base.html.twig' %}

{% block body %}

    {# TODO: check landscape and portrait styles #}

    <div class="morphsearch visible-xs" id="morphsearch">
        <form action="" class="morphsearch-form">
            <input type="text" class="morphsearch-input" placeholder="busca tu evento">
        </form>
        <span class="morphsearch-close"></span>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 topbar bgblue">

                <a href="#" class="pull-right" id="profile">
                    <img src="{{ asset('public/img/1/user.png') }}"/>
                    <span>Mi Perfil</span>
                    <span class="caret-down"></span>
                </a>

                <a href="#">
                    <img src="{{ asset('public/img/1/plus.png') }}"/>
                    <span>Sube un Evento</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="slider" data-stellar-ratio="0.4">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1" class=""></li>
                        <li data-target="#carousel" data-slide-to="2" class=""></li>
                        <li data-target="#carousel" data-slide-to="3" class=""></li>
                        <li data-target="#carousel" data-slide-to="4" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ asset('public/img/2/bg1.jpg') }}">

                            <div class="shade"></div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/img/2/bg2.jpg') }}">
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/img/2/bg3.jpg') }}">
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/img/2/bg4.jpg') }}">
                        </div>
                        <div class="item">
                            <img src="{{ asset('public/img/2/bg5.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 wrapper">
                <div class="lorem">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis optio, consequatur ut
                        veritatis numquam laudantium, asperiores repellendus nulla! Voluptates earum porro voluptatibus,
                        consectetur ad ut laboriosam architecto dolor magnam officiis.</p>

                    <p>Omnis nihil rem quaerat ipsa doloremque suscipit perferendis magni ratione reprehenderit natus
                        laborum excepturi, eos quasi repudiandae rerum minus dolorem quidem quibusdam tempore illo! Ut
                        deserunt iusto ex ad, enim!</p>

                    <p>Voluptate repellendus quae pariatur dolorum excepturi facilis, nulla officia optio asperiores non
                        maiores odit nemo modi, amet porro sint similique deserunt. Nam totam eius ratione inventore
                        blanditiis ipsa, sint aliquid!</p>

                    <p>Velit facere placeat molestiae libero amet fuga, voluptate dicta eum quas, quidem quod nemo quis
                        ab provident aperiam incidunt veniam ipsa aliquam dolores, sed sapiente odit iusto id similique.
                        Et.</p>

                    <p>Natus aperiam expedita deserunt labore perferendis earum ea numquam voluptatem fugit deleniti,
                        fugiat ipsam totam rem eaque. Fugiat quos nihil incidunt laudantium, recusandae ullam dolor sint
                        laborum, illum, nisi eaque.</p>

                    <p>Ipsam vero accusamus, veniam obcaecati sapiente? Blanditiis, aliquid. Provident cupiditate,
                        adipisci velit, minus, minima voluptas blanditiis odit maxime doloremque pariatur voluptatum,
                        iure eligendi nisi exercitationem dolorem error hic sint rerum.</p>

                    <p>Quia reprehenderit voluptatem, sequi magnam delectus dolor ipsa! Repellat asperiores accusantium
                        sapiente dolore incidunt ut mollitia, doloremque ratione nesciunt, voluptate accusamus maiores
                        architecto vel est optio omnis ea, eius quibusdam.</p>

                    <p>Temporibus ullam quae veritatis labore ratione error aspernatur repellendus, assumenda aut
                        eveniet. Inventore, quia officiis! Doloremque obcaecati nemo dignissimos facere aspernatur
                        ducimus, dolorum cupiditate nihil adipisci saepe praesentium aliquam laboriosam!</p>

                    <p>Possimus fugiat ab mollitia vitae, alias nesciunt qui eaque impedit quisquam debitis accusamus
                        delectus rerum quidem dolorum, nisi eveniet perferendis, quas molestias consectetur! Molestiae
                        adipisci doloremque officiis quasi, ducimus consequuntur.</p>

                    <p>Ut magnam accusantium minus in inventore fuga architecto, earum assumenda, ratione, rem, modi
                        fugit porro! Omnis eum quibusdam saepe, porro animi tempore dignissimos, asperiores natus,
                        placeat qui illum laborum in!</p>

                    <p>Ipsa repellendus deserunt cum quam aspernatur, praesentium numquam beatae repudiandae quod culpa
                        a expedita atque error quasi tempore qui odit quidem vitae quia! Quas maxime dignissimos a, ea
                        doloribus inventore.</p>

                    <p>A illo asperiores, ullam voluptatum error accusantium harum quod sequi, quia aspernatur labore
                        est sit libero recusandae temporibus culpa modi dicta, aut aperiam? Sapiente alias perferendis
                        tenetur harum, nostrum fuga!</p>

                    <p>Repellat odit quaerat dicta praesentium, dolorum in ipsum facere ut consectetur dolores
                        recusandae, quibusdam earum corporis doloribus sapiente necessitatibus alias blanditiis beatae.
                        Quaerat error quas quam incidunt unde, quibusdam tempora.</p>

                    <p>Alias rerum nam consectetur, sed dolor hic rem ab quis, officia maxime architecto pariatur,
                        veritatis dolorem neque provident repellendus ipsam. Ipsa odit, amet, animi fuga obcaecati iste
                        praesentium ut totam!</p>

                    <p>Doloremque eligendi, fuga perferendis earum reiciendis voluptas! Voluptatibus ab quaerat tempora,
                        esse soluta vel cupiditate aut perspiciatis sit libero reiciendis neque accusantium dicta
                        possimus doloremque porro quo saepe amet sequi!</p>

                    <p>Quis fugit, vel delectus voluptatibus voluptatum placeat nihil iste rerum eligendi consectetur
                        odio dolorem, pariatur reprehenderit alias. Repudiandae aliquid obcaecati in at, temporibus
                        quis, dolorum quae, reprehenderit fuga corrupti alias.</p>

                    <p>Asperiores tempora modi, dolorum illum, facere dolorem obcaecati fuga accusamus, esse ut
                        inventore! Sunt molestias, distinctio odit temporibus officiis tempora maxime repellendus quam
                        est nemo necessitatibus architecto minus ab laboriosam?</p>

                    <p>Cumque reprehenderit vel sapiente perspiciatis quasi minus dolores illo eum, in suscipit,
                        officiis incidunt necessitatibus magni. Necessitatibus suscipit ut, quae incidunt repellendus,
                        vero sunt, vel, laborum qui quos recusandae. Quidem.</p>

                    <p>Eaque quaerat atque laudantium vero earum repudiandae quisquam, soluta, debitis, consectetur
                        excepturi nam quae architecto minima distinctio incidunt? Rerum totam iure illo, voluptate nihil
                        debitis ab itaque. Repellendus, ipsa, perferendis.</p>

                    <p>Eos non, molestias odit in, distinctio inventore ad amet et animi! Culpa quidem quas dolorem
                        recusandae delectus, fugiat soluta cumque odio dolore ut debitis quae voluptatum harum velit.
                        Excepturi, maiores.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="st-menu">
        <h3>testing menu</h3>
        <ul>
            <li>click me 1</li>
            <li>click me 2</li>
            <li>click me 3</li>
            <li>click me 4</li>
            <li>click me 5</li>
        </ul>
    </div>

{% endblock %}

{% block page_scripts %}
    <script src="{{ asset('public/js/jquery.stellar.js') }}"></script>
    <script src="{{ asset('public/js/classie.js') }}"></script>
    <script src="{{ asset('public/js/site.js') }}"></script>
{% endblock %}

