{% extends '::base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row topbar bgblue">
            <a href="#">
                <img src="{{ asset('public/img/1/plus.png') }}"/>
                <span>Sube un Evento</span>
            </a>
            <a href="#">
                <span>Mi Perfil</span>
                <span class="caret-down"></span>
            </a>
        </div>

        <div class="row slider" data-stellar-ratio="0.4">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1" class=""></li>
                    <li data-target="#carousel" data-slide-to="2" class=""></li>
                    <li data-target="#carousel" data-slide-to="3" class=""></li>
                    <li data-target="#carousel" data-slide-to="4" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('public/img/2/bg1.jpg') }}">

                        <div class="shade"></div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('public/img/2/bg2.jpg') }}">
                    </div>
                    <div class="item">
                        <img src="{{ asset('public/img/2/bg3.jpg') }}">
                    </div>
                    <div class="item">
                        <img src="{{ asset('public/img/2/bg4.jpg') }}">
                    </div>
                    <div class="item">
                        <img src="{{ asset('public/img/2/bg5.jpg') }}">
                    </div>
                </div>
            </div>
        </div>

        {#         <div class="row text-center search-wrapper">
                    <div class="col-xs-8">
                        <p class="text-uppercase">busca tu evento</p>
                        <p class="text-capitalize">las mejores actividades de tu zona</p>
                        <input type="search">
                        <button>click me</button> <button>hell yea</button>
                    </div>
                </div> #}

        <div class="row wrapper">
            <div class="col-xs-12">
                <div class="lorem">
                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde architecto ex velit delectus.
                        Repudiandae alias perferendis aliquam dolores eligendi ipsum quod, porro temporibus vero, ipsa,
                        praesentium atque dolorum? Sunt, reiciendis?
                    </div>
                    <div>Cumque culpa repudiandae ipsa facilis natus quod in, at, deleniti necessitatibus nam molestias
                        quibusdam labore harum id nostrum architecto illo. Repudiandae tempora est voluptatum nihil.
                        Blanditiis itaque aliquam quas aliquid.
                    </div>
                    <div>Quia quae nisi deleniti doloremque aut, explicabo aliquid ipsum ullam, non aspernatur esse
                        earum iusto distinctio voluptas inventore voluptatem beatae. Suscipit esse accusantium dicta aut
                        mollitia dolorum autem beatae officiis.
                    </div>
                    <div>Delectus dolorem numquam vel dolorum perspiciatis ea natus assumenda voluptates eligendi quidem
                        neque maxime maiores officiis similique ab nisi, nobis alias illo odio quisquam dicta,
                        laudantium! Alias nostrum minima quibusdam.
                    </div>
                    <div>Minima aperiam ratione inventore omnis asperiores, temporibus est minus corporis dolore sint
                        dolorum, nihil illum ipsam, vel accusamus pariatur magnam eaque dignissimos aspernatur! Eos
                        inventore et, voluptatem reiciendis repellendus. Hic.
                    </div>
                    <div>Nihil alias autem, voluptas necessitatibus est impedit quas eius quod quasi officia, dolorem,
                        nesciunt pariatur minima quaerat odit ipsa, rerum suscipit dolores. Eveniet, consequuntur. Nobis
                        placeat deleniti, facilis non aliquam!
                    </div>
                    <div>Dolores, sed, esse? Beatae corporis quisquam sunt, aspernatur minus iure nam provident quasi
                        sint alias, voluptatem, recusandae aut quaerat blanditiis itaque officiis expedita labore veniam
                        ut atque aliquid libero. Sed!
                    </div>
                    <div>Quas fugit minima officia placeat recusandae optio repellendus vitae temporibus deserunt.
                        Aspernatur mollitia, maxime quas laudantium odio doloribus. Qui assumenda, velit autem
                        explicabo! Nisi, ducimus, deleniti. Vitae dolorem tempore, iusto.
                    </div>
                    <div>Veniam magni, autem ea, quidem deleniti vero nesciunt eligendi corrupti aliquid reiciendis
                        laboriosam, quaerat. Labore pariatur sapiente beatae autem doloribus recusandae eveniet
                        quibusdam eius quasi expedita, debitis necessitatibus optio, nesciunt.
                    </div>
                    <div>Aut aspernatur est quas voluptas non minima vel, fuga, ullam impedit iusto quaerat facere.
                        Optio, tempora, voluptatibus! Necessitatibus rerum, ducimus. Ducimus suscipit odit, distinctio
                        facilis, perspiciatis iusto autem dicta placeat!
                    </div>
                    <div>Itaque delectus corporis vel aliquam similique optio illum enim quis facere esse atque a
                        quibusdam fuga molestias debitis animi quo, consequuntur modi, quod dolor consequatur dicta nam?
                        Eaque, dicta rerum.
                    </div>
                    <div>Ipsum ab, nesciunt optio tempora corporis deleniti. Recusandae, animi aperiam necessitatibus
                        odio voluptatem quidem illo dolorem mollitia itaque maiores quibusdam dolores nam accusamus,
                        atque distinctio aut. Ullam obcaecati adipisci repudiandae.
                    </div>
                    <div>Repellat consectetur dolores, saepe repellendus sunt accusamus, soluta pariatur. Delectus ipsum
                        unde, vitae consectetur sapiente. Voluptatum, optio vel modi dicta vitae deleniti molestiae quos
                        quisquam, odit numquam quo explicabo. Nisi!
                    </div>
                    <div>Quae voluptatem reiciendis veritatis totam, autem vel dolore dolor, architecto, ab quibusdam
                        rem necessitatibus eveniet laudantium nobis officiis commodi eum voluptatum perferendis dicta
                        earum sunt quia? Assumenda, veritatis vero sapiente.
                    </div>
                    <div>Tenetur dolorem pariatur ut eum tempore impedit voluptas amet dicta explicabo quos nihil
                        aperiam eligendi autem minima, quaerat culpa recusandae, tempora. Dolores, quas doloribus
                        delectus ipsa eius molestiae illo a.
                    </div>
                    <div>Quia ducimus quos eaque, error alias optio est magnam dolor molestiae enim molestias expedita
                        sint odit commodi adipisci quo amet doloremque, harum nemo debitis. Voluptatem reiciendis nemo,
                        vero autem quaerat!
                    </div>
                    <div>Qui quisquam fugiat, laborum soluta odio, adipisci doloribus nostrum at error laboriosam dolore
                        sit iste? Quidem inventore, cum odit amet voluptate incidunt facere id soluta. Repellat
                        voluptates adipisci totam earum!
                    </div>
                    <div>Rerum asperiores ab, saepe quam, autem veritatis ratione ducimus sequi sint quasi, earum omnis.
                        Fuga consectetur maxime vel. Aperiam iste quasi atque iusto, porro possimus ex cumque. Quisquam,
                        officiis, rerum.
                    </div>
                    <div>Fugiat nihil delectus ab a itaque enim aliquid ratione aut facere molestiae, quo quae
                        reiciendis, magni nulla autem consequatur repudiandae modi necessitatibus error maxime dolorem
                        nobis veritatis. Hic cumque, quibusdam.
                    </div>
                    <div>Quod provident accusantium consectetur vero natus eaque, illum eligendi. Id ratione quos unde
                        vitae qui, voluptate maiores asperiores. Eaque omnis sed placeat, et minima alias, fugit tempore
                        aut. Voluptas, doloremque.
                    </div>
                    <div>Veniam, in, fuga. Obcaecati ipsa deleniti modi, ad. Dolorum, eveniet, nam sapiente atque,
                        soluta temporibus similique doloremque incidunt officia iure eum cumque repellendus quos qui
                        esse illo. Sed, voluptate tenetur.
                    </div>
                    <div>Magnam nemo deleniti a, fuga ut ipsa tempora architecto odio! Doloribus, debitis consectetur
                        laudantium, expedita ad, veritatis optio sapiente quas perferendis, architecto blanditiis earum
                        sed dolor eveniet fugit laboriosam consequatur.
                    </div>
                    <div>Adipisci ad modi reprehenderit facilis dolore at iste aliquid excepturi impedit autem ipsa amet
                        libero rerum tempora quisquam consequuntur id dignissimos in deserunt maxime repellat, magni
                        tempore. Aliquam, pariatur! Eaque.
                    </div>
                    <div>Voluptatibus corporis impedit quibusdam reiciendis laboriosam repellat! Hic aperiam veniam,
                        voluptas, deleniti laudantium illum reiciendis ipsum, ad, fuga nemo sunt magnam facilis ipsam
                        amet provident eum debitis dolor maiores molestias.
                    </div>
                    <div>Maiores suscipit odio facere iste, ex fugit, quas! Incidunt ex facere itaque officia, doloribus
                        quos ipsa suscipit ipsum debitis non maiores explicabo beatae consequuntur, perferendis nisi
                        ducimus ab repellendus quas.
                    </div>
                    <div>Iure perferendis architecto ea assumenda, minima placeat, iste recusandae voluptas consequuntur
                        sint repellat expedita rerum reiciendis deserunt amet libero id dolores debitis dolorum
                        laudantium similique ipsum. Quos illo voluptates dolorum.
                    </div>
                    <div>Facere et, eius earum quod tempora doloribus voluptatem, sapiente. Quidem excepturi
                        perspiciatis voluptatum neque nisi explicabo, ipsam aperiam debitis. Nesciunt vero quidem
                        excepturi corporis nemo temporibus obcaecati perspiciatis ab dolorum.
                    </div>
                    <div>Minima, saepe, tempore. Quos enim ullam aliquid explicabo amet, ad asperiores! Ullam non
                        inventore alias excepturi repudiandae laudantium, incidunt, ducimus at hic consequatur sint eos
                        ratione, vero. Minima, veniam quae!
                    </div>
                    <div>Tenetur, officia, explicabo? Voluptatibus placeat assumenda, vitae perferendis expedita
                        reiciendis officiis optio labore a molestiae minima laudantium magni suscipit. Voluptates,
                        pariatur modi inventore fugit, eos totam et dolore nulla nostrum!
                    </div>
                    <div>Optio totam, nesciunt eius minus, architecto animi explicabo perferendis fugit quaerat nostrum
                        molestias voluptatem! Natus quod dignissimos distinctio fugit tempora deserunt magni minima
                        error fuga unde aspernatur dolor provident, et?
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}
    <script src="{{ asset('public/js/jquery.stellar.js') }}"></script>
    <script src="{{ asset('public/js/site.js') }}"></script>
{% endblock %}

